@model IEnumerable<MyDomain.Models.Recipe>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.CreatedAt.ToString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
